$blue_color: #0087B4
$yellow_color: #fcfdbd
$green_color: #65b657

body
  padding-top: 2vh 

.navbar
    background: $blue_color
    &-nav
    &.fab 
      border-radius: 50%
      .nav-link 
    &.active 
      color: #fff 
      background-color: $blue_color 
      border-radius: .25rem 

      &:hover
        background-color: darken($yellow_color, 60%)
    
    &.fab
      border-radius: 50%

.home
    &-main
        &-photo
            background-image: url('../images/Без имени-2.jpg')
            background-size: contain
            background-position: center
            border-radius: 50%
            width: calc(150px + 15vw)
            height: calc(150px + 15vw)
            margin: 0 auto
        &-text
            text-align: center

.skills 
  .card 
    width: calc(100px + 4vw)
    box-shadow: 0 4px 8px rgba(0,0,0,0.1) 
    transition: transform 0.2s 
    
    &:hover 
      transform: scale(1.05)
      &-img
        size: 100%
    
    
    .card-img-top 
      max-height: 200px
      object-fit: cover
    
    
    .card-title 
        text-align: center
        color: $green_color
    
.projects
  .card 
    &-list
        font-size: 1rem
    &-links a 
      text-decoration: none
      margin-right: 10px
      font-size: calc( 15px + 1vw )

    img 
      max-width: 100% 
   
.timeline 
    position: relative
    &-card 
        position: relative
        
#edu-timeline
    padding-left: 20px
    &::before 
        content: ''
        position: absolute
        left: 0
        top: 0
        bottom: 0
        width: 4px
        background: $blue_color
#edu-timeline-card-body::before 
        content: ''
        position: absolute
        left: -26px
        top: -1px
        height: 15px
        width: 15px
        border-radius: 50%
        background: $blue_color
        border: 4px solid $blue_color

#exp-timeline
    padding-right: 20px
    &::before 
        content: ''
        position: absolute
        right: 0
        top: 0
        bottom: 0
        width: 4px
        background: $blue_color
#exp-timeline-card-body::after 
        content: ''
        position: absolute
        right: 25
        top: -1px
        height: 15px
        width: 15px
        border-radius: 50%
        background: $blue_color
        border: 4px solid $blue_color
